<mat-form-field>
    <input matInput placeholder="Filtros" />
</mat-form-field>

<div>
    <table mat-table [dataSource]="datosTabla" multiTemplateDataRows>
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let producto">{{ producto.nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="costo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
            <td mat-cell *matCellDef="let producto">$ {{ producto.costo }}</td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
            <td mat-cell *matCellDef="let producto">{{ producto.cantidad }}</td>

            <!-- <td mat-cell *matCellDef="let producto">
                <input matInput type="number" min="0" value='{{ producto.cantidad }}' (change)="cambiarCantidadProducto(this.cantidad.value)"/>
            </td> -->
        </ng-container>

        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                Fecha de creacion
            </th>
            <td mat-cell *matCellDef="let producto">
                Dia: {{ producto.fechaCreacion.toMillis() | date: 'dd/MM/yyyy' }} -
                Hora: {{ producto.fechaCreacion.toMillis() | date: 'HH:mm' }}
            </td>
        </ng-container>

        

        <ng-container *ngIf="rol == 'Administrador'" matColumnDef="local">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Local</th>
            <td mat-cell *matCellDef="let producto"> {{ producto.local }}</td>
        </ng-container>

        <ng-container matColumnDef="activo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
            <td mat-cell *matCellDef="let producto">{{ producto.activo }}</td>
        </ng-container>

        <ng-container matColumnDef="movimientos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let producto">
                <button mat-flat-button mat-button color="warn" (click)="mostrarMovimientos(producto.id)">Ver
                    Movimientos</button>
            </td>
        </ng-container>

        <!-- <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Activo</th>
            <td mat-cell *matCellDef="let producto">
                <img [src]="producto.foto" width="20px" height="20px" />
            </td>
        </ng-container> -->



        <!-- <ng-container *ngIf="rol == 'Administrador'" matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let producto">
                <button mat-flat-button mat-button color="warn" (click)="deshabilitarProducto(producto.id)">
                    Deshabilitar
                </button>
            </td>
        </ng-container> -->

        <ng-container matColumnDef="detalle">
            <td mat-cell *matCellDef="let producto" [attr.colspan]="columnasTabla.length">
                <div class="expandir-detalle"
                    [@expandirDetalle]="producto == productoExpandido ? 'expandir' : 'colapsar'">
                    <div class="producto-descripcion-observaciones">
                        <div><img [src]="producto.foto" width="20px" height="20px" /></div>
                        <div><span>{{ producto.descripcion }}</span></div>
                        <div><span>{{ producto.observaciones }}</span></div>
                        <div><input matInput type="number" min="0" [(ngModel)]="cantidadNueva" >
                            <button mat-flat-button mat-button (click)="sumarCantidadProducto(cantidadNueva, producto.id)">
                                Agregar
                            </button>
                            <button mat-flat-button mat-button (click)="restarCantidadProducto(cantidadNueva, producto.id)">
                                Sacar
                            </button>
                        </div>
                        <div *ngIf="rol == 'Administrador'">
                            <button mat-flat-button mat-button *ngIf="producto.activo" color="warn" (click)="deshabilitarProductos(producto.id)">
                                Deshabilitar
                            </button>
                            <button mat-flat-button mat-button *ngIf="!producto.activo" color="accent"
                            (click)="habilitarProductos(producto.id)">Habilitar</button>
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
        <tr mat-row *matRowDef="let producto; columns: columnasTabla" class="producto-fila"
            [class.fila-expandida]="productoExpandido === producto"
            (click)="productoExpandido = productoExpandido === producto ? null : producto"></tr>
        <tr mat-row *matRowDef="let columnas; columns: ['detalle']" class="detalle-fila"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>