<mat-form-field>
        <input matInput placeholder="Filtros" (keyup)="doFilter($event.target.value)"/>
    </mat-form-field>
    <div>
        <table mat-table [dataSource]="datosTabla" matSort>
            <ng-container matColumnDef="producto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Producto</th>
                <td mat-cell *matCellDef="let movimiento">{{ movimiento.producto }}</td>
            </ng-container>
            <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
                <td mat-cell *matCellDef="let movimiento">{{ movimiento.usuario }}</td>
            </ng-container>
            <ng-container matColumnDef="local">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Local</th>
                <td mat-cell *matCellDef="let movimiento">{{ movimiento.local }}</td>
            </ng-container>
            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
                <td mat-cell *matCellDef="let movimiento">{{ movimiento.tipo }}</td>
            </ng-container>
            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
                <td mat-cell *matCellDef="let movimiento">{{ movimiento.cantidad }}</td>
            </ng-container>
            
            
    
            <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
            <tr mat-row *matRowDef="let columnas; columns: columnasTabla"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>